/* general styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(232, 238, 238);
}


/* list items */
li {
    list-style: none;
}
/* anchor tags */
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
}

section{
    min-height: 70vh;
    padding: 5px;
    /* overflow: auto; */
    width: 100%;
    display: flex;
}

/* navigation bar styles */
.navbar{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 60px;
    z-index: 100;
}
.logo img{
    height: 50px;
    width:150px;
}
.container {
    /* max-width: 100vw; */
    margin: 0 20px;
    /* border: 2px solid; */
    overflow: hidden;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links{
    display: flex;
    gap: 5px;
    /* padding: 5px; */
    /* border: 1px solid red; */
}

.button {
    height: 40px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    background-color: rgba(59, 97, 26, 0.696);
    background-position: center;
}

.hero-section{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    background-image: url("./images/MAL_6149-2048x1365.jpg");
    /* background-position: center; */
}
.hero-section h1 {
    color: white;
    font-size: 40px;
    padding: 20px;
}
.hero-section p{
    color: white;
    font-size: 20px;
}
.actions {
    padding: 50px;
    margin: auto;
}
.cards{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 5px;
    align-items: center;
}
.card img{
    height: 70%;
    width: 90%;
}
.cols {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
/*  */
.courses .container .header{
   color: rgb(150, 22, 133);
   margin: auto;
   text-align: center;
}
.courses .container .header h2{
    font-size: 30px;
}
.cols img{
    width: 100%;
    height: 300px;
}
.wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 10px;
}
.wrap .refactory img {
    height: 30px;
}
footer{
    background-color: rgb(154, 78, 100);
}

.bottom p{
    /* align-content: center; */
    display: flex;
    justify-content: center;
}