* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(171, 190, 190);
}
li {
    list-style: none;
}
.navbar{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 10px;
}
.nav-wrapper{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    gap: 5px;
    list-style: none;
    right: 0;
}
a {
    text-decoration: none;
    color: rgb(139, 4, 4);
    font-weight: 500;
    font-size: 20px;
}

.button {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    background-color: rgba(100, 191, 21, 0.696);
    background-position: center;
}

.hero-section{
    display: flex;
    min-height: 100vh;
    align-items: center;
    margin-top: 70px;
    background-image: url("./images/MAL_6149-2048x1365.jpg");
}

.cards{
    display: flex;
    width: 100%;
    gap: 20px;
}
.card img{
    height: 250px;
}
.cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.left, .righ{
    width: 400px;
    gap: 10px;
}

.cols img{
    width: 100%;
}
.wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 10px;
}
.wrap .refactory img {
    height: 30px;
}
footer{
    background-color: rgb(154, 78, 100);
}

.bottom p{
    /* align-content: center; */
    display: flex;
    justify-content: center;
}