/* general styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(232, 238, 238);
}
/* list items */
li {
    list-style: none;
}
/* anchor tags */
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
}
section{
    min-height: 80vh;
    padding: 5px;
    overflow: auto;
    width: 100%;
}

/* navigation bar styles */
.navbar{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 70px;
    z-index: 1000;
    /* align-items: center; */
}
.logo img{
    height: 50px;
    width:150px;
}
.container {
    max-width: 1200px;
    margin: 10px;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-links{
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 5px;
    /* border: 1px solid red; */
}

.button {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    width: 150px;
    background-color: rgba(100, 191, 21, 0.696);
    background-position: center;
}

.hero-section{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    background-image: url("./images/MAL_6149-2048x1365.jpg");
}
.hero-section h1 {
    color: white;
    font-size: 40px;
}
.hero-section p{
    color: white;
    font-size: 20px;
}
.cards{
    display: flex;
    width: 100%;
    gap: 20px;
}
.card img{
    height: 250px;
}
.cols {
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/*  */

.cols img{
    width: 100%;
}
.wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 10px;
}
.wrap .refactory img {
    height: 30px;
}
footer{
    background-color: rgb(154, 78, 100);
}

.bottom p{
    /* align-content: center; */
    display: flex;
    justify-content: center;
}